.logotype {
    text-align: center;
}

@media (max-width: 767px) {
    .logo_svg {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .logo_svg {
        margin-top: -28px;
        margin-bottom: 50px;
    }
}

@media (max-width: 425px) {
    .logo_svg {
        margin-left: -42px;
    }
}