.slider {
    width: 100%;
    margin: 40px auto;
    position: relative;
}

.slider__content {
    border-radius: 10px;
    padding: 15px;
    transition: all .5s ease;
    height: 260px;
    margin-bottom: 25px;
    background: #fff;
    border: 0;
    text-decoration: none;
}

.slider__title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #140050;
}

.slider__img {
    margin-top: 5px;
    max-height: 170px;
    width: 100%;
    display: block;
    object-fit: contain;
}

.slick-slide {
    margin: 0 15px;
    width: 333px;
}

.slick-list {
    margin: 0 -15px;
}

.slick-dots {
    right: 23px;
}

.prevArrow {
    margin-top: 100px;
    margin-left: -50px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: #fff;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
    z-index: 8;
    position: absolute;
}

.nextArrow {
    margin-top: 100px;
    margin-right: -20px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: #fff;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
    z-index: 10;
    right: 0;
    position: absolute;
}

@media (max-width: 1200px) {
    .nextArrow {
        margin-right: 17px;
    }
}

@media (max-width: 767px) {
    .nextArrow {
        margin-right: 0;
    }
    .prevArrow {
        margin-left: -21px;
    }
}