.product__details__wrapper {
    background: #fff;
    border-radius: 10px;
}

.product__details__data{
    display: flex;
    justify-content: space-around;
}

.product__details__image {
    margin-top: 70px;
}

.btn__price {
    margin-top: 132px;
}

.product__details__item__title {
    margin-top: 80px;
}

.btn.btn-dart.btn-cart.details {
    margin-top: 180px;
}

.btn.btn-dart.btn-cart.details_large {
    width: 80px;
    padding: 10px;
    float: left;
}

.btn__price {
    margin-top: 190px;
    font-weight: 700;
}

.card__wrapper__data {
    margin-top: 30px;
}