.mypromotions__wrapper {
    width: 640px;
    height: 400px;
    border-radius: 10px;
    background: #fff;
    padding: 30px;
}

.mypromotions__item {
    display: flex;
    margin-top: 10px;
    gap: 20px;
    
}

.mypromotions__title {
    color: #8c8c8c;
}

@media (max-width: 767px) {
    .mypromotions__wrapper {
        width: 520px;
        height: 540px;
    }
}