.profile__wrapper {
    width: 640px;
    height: 485px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    background: #fff;
    padding: 30px;
    
}

.profile__avatar {
    margin-top: -20px;
}

.profile__item {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.profile__title {
    color: #8c8c8c;
    // margin-top: 10px;
}

.profile__title__data {
    padding-top: 18px;
}


#profile__data__name {
    margin-top: 10px;
    position: absolute;
}

#profile__data__instagram {
    margin-top: 65px;
    position: absolute;
}

#profile__data__email {
    margin-top: 120px;
    position: absolute;
}

#profile__data__phone {
    margin-top: 165px;
    position: absolute;
}

#profile__data__language {
    margin-top: 220px;
    position: absolute;
}

#profile__data__valute {
    margin-top: 270px;
    position: absolute;
}


.btn-dart.profile {
    margin-left: 10px;
    border: 1px solid #140050;
    border-radius: 10px;
    font-weight: 700;
    float: right;
}

.profile__balance {
    display: flex;
    justify-content: end;
    gap: 8px;
    margin-top: 4px;
    font-weight: 700;
    color: #140050;
}

.change__image {
    position: absolute;
    margin-top: -70px;   
    margin-left: 30px;
    border-radius: 20px;
    background: #140050;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: #fff;
    }
}

@media (max-width: 767px) {
    .profile__wrapper {
        width: 520px;
    }
}