.card-wrap {
    display: inline-block;
    margin-left: 18px;
    margin-top: 20px;
    text-align: left;
}


.card {
    border-radius: 10px;
    transition: all .5s ease;
    height: 450px;
    width: 295px;
    margin-bottom: 25px;
    background: #fff;
    border: 0;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
}

.card-title__hot {
    height: 450px;
    border-radius: 10px;
    border: 4px solid #ffffff40;
    background: radial-gradient(63.11% 63.11% at 31.97% 19.67%,#ffffffb3 0,#fff0 69.79%,#fff0 100%),radial-gradient(51.85% 189.49% at 50% 50%,#ffc800 0,red 100%);
    text-decoration: none;
    color: #140050;
}

.card-title__large {
    margin-top: 7px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
}

.card__question {
    position: absolute;
    right: 12px;
}

.answer {
    display: none;
}

.btn-green {
    width: 250px;
    margin-left: 20px;
    border: 4px solid #ffffffbf;
    border-radius: 10px;
    background: radial-gradient(63.11% 63.11% at 31.97% 19.67%,#ffffffb3 0,#fff0 100%),linear-gradient(180deg,#01ae81,#017e3b);
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    transition: all .3s ease;
    box-shadow: .8601190448px .8601190448px 4px 0 #00000080;
}

.btn-green:hover {
    background: radial-gradient(63.11% 63.11% at 31.97% 19.67%,#fff0 0,#ffffffb3 100%),linear-gradient(180deg,#017e3b,#01ae81);
    color: #fff;
}

.card-label {
    font-size: 16px;
    text-transform: uppercase;
}

.card-body__name a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #140050;
}

.card__picture {
    margin-top: 5px;
    max-height: 170px;
    width: 100%;
    display: block;
    object-fit: contain;
}

.card-body__price {
    font-weight: 700;
    display: inline-block;
    margin-top: 10px;
}

.btn-dart.btn-cart {
    height: 50px;
    width: 50px;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #140050;
    position: relative;
    max-width: 145px;
    transition: all .5s ease;
    float: right;
}

.btn-dart.btn-cart .icon__cart {
    content: url('../../../assets/images/cart-dart.svg');
    height: 20px;
    width: 20px;
}

.btn-dart.btn-cart .icon__cart:hover {
    content: url('../../../assets/images/cart-gray.svg');
}

.btn-dart:hover {
    background: #140050;
    color: #fff;
}

