.aboutus {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.aboutus__text__block {
    height: 730px;
    border-radius: 10px;
    background: #fff;
    padding: 30px;
}

.aboutus__image__block {
    border-radius: 10px;
    border: 1px solid #fff;
    height: 730px;
}