@media (max-width: 576px) {
    .card.card__hot {
        width: 235px;
    }
    .btn.btn-green.hot__price__page {
        width: 190px;
    }
    .card-wrap.hot__price__page {
        margin-left: 58px;
    }
}