.events__title.address {
    margin-right: 280px;
    float: right;
}

.events__title.myorders {
    margin-right: 480px;
    float: right;
}

@media (max-width: 1359px) {
    .events__title.address {
        float: none;
    }
    .events__title.myorders {
        float: left;
    }
}

