.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__close {
    display: none;
}

.modal__close.active {
    display: block;
    float: right;
    cursor: pointer;
}

.modal__content {
    padding: 20px;
    background: linear-gradient(180deg, #fff9ee 0%, #d8c1d3 100%) !important;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.75) !important;
    border-radius: 10px !important;
    height: 530px;
    width: 450px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content.active {
    transform: scale(1);
}

.section__title {
    margin-left: 50px;
    padding: 20px;
    font-size: 28px;
}

.user__dark {
    margin-top: 17px;
    margin-left: 30px;
    position: absolute;
}


.btn__soc {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 75%;
    margin-left: 55px;
    gap: 7px;
}


.btn__img {
    margin-right: 5px;
}

.btn-light {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.168);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.084);
    height: 50px;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;
    text-align: left;
}

.btn-primary {
    justify-content: flex-start;
    height: 50px;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    text-align: left;
}

.btn-dark {
    height: 50px;
    border-radius: 10px;
    width: 100%;
    background: black;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.btn-dark:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.section__title {
    font-weight: 700;
}

.register, .enter {
    width: 180px;
    height: 50px;
    margin-top: 15px;
    margin-left: 13px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    border: 1px solid #140050;
    color: #140050;
    background-color: white;
}

.register.disabled {
    color: #8C8C8C;
    border: 1px solid #8C8C8C;
}

.enter.disabled {
    color: #8C8C8C;
    border: 1px solid #8C8C8C;
}

.form-control__modal {
    margin-top: 2px;
    margin-left: 50px;
    padding-left: 10px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #140050;
    height: 50px;
    color: #140050;
}
