.checkbox {
    position: absolute;
    display: inline-block;
    margin-right: 600px;
    right: 0;
}

.input__text {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
}

.events__title.events__title__pay {
    margin-top: 50px;
}
