.cart__item__wrapper {
    width: 1100px;
    height: 140px;
    margin-top: 15px;
    border-radius: 10px;
    background: #fff;
    padding: 30px;
}

.cart__info {
    display: flex;
    margin-top: -15px;
    gap: 20px;
}

.cart__checkbox {
    margin-top: 50px;
}

.bin {
    position: absolute;
    margin-right: 460px;
    right: 0;
}

.cart__category {
    margin-top: 10px;
    font-size: 16px;
}

.cart__product {
    margin-top: 5px;
    font-weight: 700;
}

.cart__price {
    font-size: 16px;
}

