.card-title__top {
    height: 450px;
    border-radius: 10px;
    border: 4px solid #ffffff40;
    background: radial-gradient(63.11% 63.11% at 31.97% 19.67%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), radial-gradient(51.85% 189.49% at 50% 50%, #00C1FF 0%, #4200FF 100%);
    text-decoration: none;
    color: #140050;
}

@media (max-width: 576px) {
    .card.card__top {
        width: 235px;
    }
    .btn.btn-green.top__price__page {
        width: 190px;
    }
    .card-wrap.top__price__page {
        margin-left: 58px;
    }
}