.footer__text {
    font-size: 18px;
    color: #fff;
}

.footer__text.year {
    margin-left: -210px;
    top: 57px;
    position: absolute;
}

.footer__center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.starone {
    position: relative;
}

.footer__center svg {
    width: 80%;
}

.footer__right {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.footer__icons img {
    margin-left: 10px;
}

@media(max-width: 1200px) {
    .footer__text.year {
        margin-left: -114px;
    }
}

@media(max-width: 767px) {
    .row {
        display: block;
        margin-left: 10px;
    }
    .footer__text.year {
        margin-left: 0;
        top: 104px;
    }
    .footer__right {
        display: block;
        margin-left: 91px;
    }

}

@media (max-width: 576px) {
    .footer__center svg {
        width: 50%;
    }
    .footer__right {
        margin-left: 110px;
    }
}

@media (max-width: 425px) {
    .footer__right {
        margin-left: 86px;
    }
}
