body {
  min-height: 100vh;
  width: 1250px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background: radial-gradient( 129.79% 70.78% at 50% 50%, #4e0361 0%, #1c0520 50%, #52014a 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: #140050;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
