@media(min-width: 1360px) {
    .current__events__timer {
        margin-right: 720px;
    }
}

@media (max-width: 1359px) {
    body {
        width: 1200px;
    }
    .current__events__timer {
        margin-right: 510px;
    }
    .current__events__btn-green {
        width: 330px;
    }
}

@media (max-width: 1200px) {
    body {
        width: 1000px;
    }
    .current__events__title__middle {
        width: 15%;
        font-size: 15px;
    }
    .current__events__btn-green {
        width: 30%;
    }
    .current__events__timer {
        margin-right: 348px;
        font-size: 15px;
    }
}