// @media(min-width: 1360px) {
//     .current__events__timer {
//         margin-right: 720px;
//     }
// }

@media (max-width: 1359px) {
    body {
        width: 1200px;
    }
    .App {
        width: 1030px;
        box-sizing: border-box;
        // overflow-x: hidden;
    }
}

@media (max-width: 1200px) {
    body {
        width: 1000px;
    }
    .App {
        width: 1000px;
    }
}

@media (max-width: 1000px) {
    .App {
        width: 755px;
    }
}

@media (max-width: 767px) {
    .App {
        width: 560px;
    }
}

@media (max-width: 576px) {
    .App {
        width: 425px;
    }
}

@media (max-width: 425px) {
    .App {
        width: 375px;
    }
}