.popular__events {
    margin-top: 45px;
    margin-left: 30px;
}


.events__title span {
    margin-left: 10px;
    color: #fff;
    font-weight: 700;
}

.btn.events1.btn-white {
    margin-left: 10px;
    display: inline-block;
}